<app-back-to-home-button></app-back-to-home-button>
<article class="font-mono">
  <header class="mb-8 bg-black p-8 px-8 text-white md:px-32">
    <div class="m-auto flex max-w-7xl justify-between">
      <div>
        <h1 class="text-5xl font-thin">Jessy Cormier</h1>
        <em class="text-gray\50 font-thin">Senior Front-End Developer</em>
      </div>
      <div class="flex flex-col">
        <address>Memramcook, NB</address>
        <div>hello&#64;jessy.co</div>
        <div>
          <a class="p-0 text-white transition-all hover:bg-white hover:px-2 hover:text-black" href="https://www.linkedin.com/in/jessyco">Linked In</a>
        </div>
      </div>
    </div>
  </header>
  <div class="m-auto max-w-7xl p-8 px-8 md:px-32">
    <section class="mb-8">
      <h2 class="mb-4 text-4xl">Summary</h2>
      <p class="pb-0">
        Front-End Developer with expertise in delivering high-quality, scalable solutions using modern frameworks and best practices. Experienced in leading
        teams, optimizing DevOps workflows, and implementing efficient design systems for enhanced user experience. Skills in cross- functional collaboration
        and committed to continuous learning in front-end technologies.
      </p>
    </section>

    <section class="mb-8 pb-8">
      <header class="mb-4">
        <h2 class="mb-4 text-4xl">Professional Experience</h2>
      </header>

      <section class="mb-8">
        <header class="mb-4">
          <h6 class="text-lg">Senior Front-End Developer</h6>
          <address class="text-xs text-gray-800 dark:text-gray-300">Thinkmax, Moncton, NB (Office, Remote)</address>
          <time class="text-xs text-gray-800 dark:text-gray-300">September 2022 to Present</time>
        </header>
        <ul>
          <li class="transition-colors hover:!text-gray-600">
            Delivered customized front-end solutions for client projects, ensuring smooth adaption to evolving requirements and on-time delivery.
          </li>
          <li class="transition-colors hover:!text-gray-600">
            Led design adjustments to align with customer needs, balancing tight timelines and incomplete specifications effectively.
          </li>
          <li class="transition-colors hover:!text-gray-600">
            Mentored team members and management on front-end best practices, improving team efficiency and technical capabilities.
          </li>
          <li class="transition-colors hover:!text-gray-600">
            Built a B2B solution for Royal Canadian Mint using
            <app-resume-word value=".Net MVC" />
            ,
            <app-resume-word value="Bootstrap" />
            and
            <app-resume-word value="Optimizely CMS" />
            .
          </li>
          <li class="transition-colors hover:!text-gray-600">
            Documented front-end best practices, contributing to the organization's knowledge base to improve workflows.
          </li>
          <li class="transition-colors hover:!text-gray-600">
            Developed effective methodologies for task breakdown and timeline accuracy, ensuring clear client communication and delivery.
          </li>
          <li class="transition-colors hover:!text-gray-600">Responsible for delivering high-quality front-end solutions to our customer projects.</li>
          <li class="transition-colors hover:!text-gray-600">
            Managed design and adjustments for customer projects, ensuring timely delivery despite often having incomplete or evolving requirements.
          </li>
          <li class="transition-colors hover:!text-gray-600">
            Provided guidance and teaching opportunities to team members and management, enhancing the team's overall skill set and efficiency.
          </li>
          <li class="transition-colors hover:!text-gray-600">
            Developed a B2B solution for Royal Canadian Mints using
            <app-resume-word value="Bootstrap" />
            ,
            <app-resume-word value="Optimizely" />
            ,
            <app-resume-word value=".Net" />
          </li>
          <li class="transition-colors hover:!text-gray-600">
            Utilized a variety of technologies and tools, including
            <app-resume-word value=".Net" />
            ,
            <app-resume-word value="Bootstrap" />
            , and
            <app-resume-word value="Tailwind CSS" />
            , in alignment with
            <app-resume-word value="Optimizely CMS" />
            product specifications.
          </li>
          <li class="transition-colors hover:!text-gray-600">
            Contributed to the knowledge base for best practices in front-end development, improving processes and workflows.
          </li>
          <li class="transition-colors hover:!text-gray-600">
            Played a key role in developing methodologies for breaking down work to deliver accurate timelines for clients.
          </li>
        </ul>
      </section>

      <section class="mb-8">
        <header class="mb-4">
          <h6 class="text-lg">Senior Front-End Developer</h6>
          <address class="text-xs text-gray-800 dark:text-gray-300">Aspen Group, Moncton, NB (Office, Remote)</address>
          <time datetime="2017-05">May 2017</time>
          <span class="text-xs text-gray-800 dark:text-gray-300">to</span>
          <time datetime="2022-08">August 2022</time>
        </header>
        <ul>
          <li class="transition-colors hover:!text-gray-600">
            Built and launched a customer relationship management system (CRM) and a student application platform that supports older browser technology (
            <app-resume-word value="Internet Explorer 9" />
            ).
          </li>
          <li class="transition-colors hover:!text-gray-600">Created an API library to communicate between internal products and 3rd party products.</li>
          <li class="transition-colors hover:!text-gray-600">
            Developed stand-alone libraries and components that can be consumed by other developers via
            <app-resume-word value="NPM" />
            /
            <app-resume-word value="NuGet" />
            using the
            <app-resume-word value="Azure DevOps Artifacts" />
            platform.
          </li>
          <li class="transition-colors hover:!text-gray-600">
            Developed design system components using
            <app-resume-word value="Bootstrap" />
            ,
            <app-resume-word value="Tailwind CSS" />
            , and
            <app-resume-word value="Storybooks" />
            .
          </li>
          <li class="transition-colors hover:!text-gray-600">
            Delivered low-fidelity designs using
            <app-resume-word value="Figma" />
            , and
            <app-resume-word value="Adobe XD" />
            .
          </li>
          <li class="transition-colors hover:!text-gray-600">Responsible for managing project dependency, upgrades, and releases.</li>
          <li class="transition-colors hover:!text-gray-600">Developed processes for our DevOps team for automation and deployments.</li>
          <li class="transition-colors hover:!text-gray-600">Facilitated team collaboration, hosting scrum meetings, and mentoring developers.</li>
          <li class="transition-colors hover:!text-gray-600">Onboarded new hires about our processes and technology.</li>
        </ul>
      </section>

      <section class="mb-8">
        <header class="mb-4">
          <h6 class="text-lg">Web Developer</h6>
          <address class="text-xs text-gray-800 dark:text-gray-300">Ironflow Technologies, Dieppe, NB</address>
          <time datetime="2012-11">November 2012</time>
          <span class="text-xs text-gray-800 dark:text-gray-300">to</span>
          <time datetime="2017-04">April 2017</time>
        </header>
        <ul>
          <li class="transition-colors hover:!text-gray-600">
            Create and maintain our products in
            <app-resume-word value="ASP .Net" />
            MVC / WebForms in both
            <app-resume-word value="C#" />
            and
            <app-resume-word value="VB" />
            .
          </li>
          <li class="transition-colors hover:!text-gray-600">
            Front-end development including building front-end design framework(s) for other developers and products, design UI and UX.
          </li>
          <li class="transition-colors hover:!text-gray-600">Project research and planning.</li>
          <li class="transition-colors hover:!text-gray-600">Database development and planning.</li>
          <li class="transition-colors hover:!text-gray-600">Managing communication tools and provide education for the team.</li>
          <li class="transition-colors hover:!text-gray-600">Working with customer service team to resolve products/client issues.</li>
        </ul>
      </section>

      <section class="mb-8">
        <header class="mb-4">
          <h6 class="text-lg">Instructor at NBCC</h6>
          <address class="text-xs text-gray-800 dark:text-gray-300">Moncton NBCC, Moncton, NB</address>
          <time datetime="2013-12">December 2013</time>
          <span class="text-xs text-gray-800 dark:text-gray-300">to</span>
          <time datetime="2014-04">April 2014</time>
        </header>
        <ul>
          <li class="transition-colors hover:!text-gray-600">
            Creating and Reviewing course curriculum for students in
            <app-resume-word value="PHP" />
            &
            <app-resume-word value="MySQL" />
            .
          </li>
          <li class="transition-colors hover:!text-gray-600">
            Deliver course curriculum through Blackboard Learning Management System (LMS) and help them catch up on any missing lessons from other courses.
          </li>
          <li class="transition-colors hover:!text-gray-600">Creating websites for clients, providing technical support and education.</li>
        </ul>
      </section>

      <section class="mb-8">
        <header class="mb-4">
          <h6 class="text-lg">Web Developer</h6>
          <address class="text-xs text-gray-800 dark:text-gray-300">Atrinsic, Dieppe, NB</address>
          <time datetime="2009-05">May 2009</time>
          <span class="text-xs text-gray-800 dark:text-gray-300">to</span>
          <time datetime="2010-12">December 2010</time>
        </header>
        <ul>
          <li class="transition-colors hover:!text-gray-600">
            Development on sites such as Kazaa (Python), corporate site, ez-tracks (
            <app-resume-word value="Cold Fusion" />
            ), ShopIt (
            <app-resume-word value="PHP" />
            ), Select Machinery INC (
            <app-resume-word value="ASP .Net" />
            ), BlueworldPools (
            <app-resume-word value="ASP .Net" />
            ).
          </li>
          <li class="transition-colors hover:!text-gray-600">Team meetings to create site wireframe, database design.</li>
          <li class="transition-colors hover:!text-gray-600">Development of sites, troubleshooting existing, enhancements and refactoring.</li>
          <li class="transition-colors hover:!text-gray-600">Integrating into social media platforms and using 3rd party APIs.</li>
        </ul>
      </section>
    </section>

    <section class="mb-8 pb-8">
      <header class="mb-4">
        <h2 class="mb-4 text-4xl">Skills and Abilities</h2>
      </header>

      <div class="flex flex-wrap">
        <section class="mb-8 basis-1/3 pr-16">
          <header class="mb-4">Frameworks and Technologies</header>
          <ul class="comma-list">
            <li class="transition-colors hover:!text-gray-600">Angular (v4+)</li>
            <li class="transition-colors hover:!text-gray-600">React</li>
            <li class="transition-colors hover:!text-gray-600">NextJS</li>
            <li class="transition-colors hover:!text-gray-600">SveltKit</li>
            <li class="transition-colors hover:!text-gray-600">Astro</li>
            <li class="transition-colors hover:!text-gray-600">Vue</li>
            <li class="transition-colors hover:!text-gray-600">TypeScript</li>
            <li class="transition-colors hover:!text-gray-600">JavaScript</li>
            <li class="transition-colors hover:!text-gray-600">jQuery</li>
            <li class="transition-colors hover:!text-gray-600">Node</li>
            <li class="transition-colors hover:!text-gray-600">Deno</li>
            <li class="transition-colors hover:!text-gray-600">Electron</li>
            <li class="transition-colors hover:!text-gray-600">npm</li>
            <li class="transition-colors hover:!text-gray-600">yarn</li>
            <li class="transition-colors hover:!text-gray-600">pnpm</li>
            <li class="transition-colors hover:!text-gray-600">webpack</li>
            <li class="transition-colors hover:!text-gray-600">gulp</li>
            <li class="transition-colors hover:!text-gray-600">grunt</li>
          </ul>
        </section>
        <section class="mb-8 basis-1/3 pr-16">
          <header class="mb-4">Design and Development</header>
          <ul class="comma-list">
            <li class="transition-colors hover:!text-gray-600">HTML</li>
            <li class="transition-colors hover:!text-gray-600">Markdown</li>
            <li class="transition-colors hover:!text-gray-600">Emmet</li>
            <li class="transition-colors hover:!text-gray-600">CSS</li>
            <li class="transition-colors hover:!text-gray-600">Less</li>
            <li class="transition-colors hover:!text-gray-600">Sass</li>
            <li class="transition-colors hover:!text-gray-600">Scss</li>
            <li class="transition-colors hover:!text-gray-600">Tailwind</li>
            <li class="transition-colors hover:!text-gray-600"><app-resume-word value="Bootstrap" /></li>
            <li class="transition-colors hover:!text-gray-600">Storybooks</li>
            <li class="transition-colors hover:!text-gray-600">Figma</li>
            <li class="transition-colors hover:!text-gray-600">Adobe XD</li>
            <li class="transition-colors hover:!text-gray-600">Responsive design</li>
            <li class="transition-colors hover:!text-gray-600">UX & UI design Tools</li>
          </ul>
        </section>
        <section class="mb-8 basis-1/3">
          <header class="mb-4">Principles and Patterns</header>
          <ul class="comma-list">
            <li class="transition-colors hover:!text-gray-600">SOLID</li>
            <li class="transition-colors hover:!text-gray-600">KISS</li>
            <li class="transition-colors hover:!text-gray-600">DRY</li>
            <li class="transition-colors hover:!text-gray-600">Direct Injection</li>
            <li class="transition-colors hover:!text-gray-600">Observer</li>
            <li class="transition-colors hover:!text-gray-600">Singleton</li>
            <li class="transition-colors hover:!text-gray-600">Revealing Module</li>
          </ul>
        </section>
        <section class="mb-8 basis-1/3 pr-16">
          <header class="mb-4">Tools</header>
          <ul class="comma-list">
            <li class="transition-colors hover:!text-gray-600">Visual Studio code</li>
            <li class="transition-colors hover:!text-gray-600">Visual Studio</li>
            <li class="transition-colors hover:!text-gray-600">Sublime</li>
            <li class="transition-colors hover:!text-gray-600">Notepad++</li>
            <li class="transition-colors hover:!text-gray-600">Beyond Compare</li>
            <li class="transition-colors hover:!text-gray-600">Git</li>
            <li class="transition-colors hover:!text-gray-600">SVN</li>
            <li class="transition-colors hover:!text-gray-600">Git Kraken</li>
            <li class="transition-colors hover:!text-gray-600">GitHub</li>
            <li class="transition-colors hover:!text-gray-600">DevOps</li>
            <li class="transition-colors hover:!text-gray-600">Jenkins</li>
            <li class="transition-colors hover:!text-gray-600">Azure Pipelines</li>
            <li class="transition-colors hover:!text-gray-600">Azure Artifacts</li>
          </ul>
        </section>
        <section class="mb-8 basis-1/3 pr-16">
          <header class="mb-4">Design</header>
          <ul class="comma-list">
            <li class="transition-colors hover:!text-gray-600"><app-resume-word value="Html" /></li>
            <li class="transition-colors hover:!text-gray-600"><app-resume-word value="Markdown" /></li>
            <li class="transition-colors hover:!text-gray-600"><app-resume-word value="Emmet" /></li>
            <li class="transition-colors hover:!text-gray-600"><app-resume-word value="CSS" /></li>
            <li class="transition-colors hover:!text-gray-600"><app-resume-word value="Less" /></li>
            <li class="transition-colors hover:!text-gray-600"><app-resume-word value="Sass" /></li>
            <li class="transition-colors hover:!text-gray-600"><app-resume-word value="Scss" /></li>
            <li class="transition-colors hover:!text-gray-600"><app-resume-word value="Tailwind" /></li>
            <li class="transition-colors hover:!text-gray-600"><app-resume-word value="Bootstrap" /></li>
            <li class="transition-colors hover:!text-gray-600"><app-resume-word value="Storybooks" /></li>
            <li class="transition-colors hover:!text-gray-600"><app-resume-word value="Figma" /></li>
            <li class="transition-colors hover:!text-gray-600"><app-resume-word value="Adobe XD" /></li>
            <li class="transition-colors hover:!text-gray-600"><app-resume-word value="Responsive design" /></li>
            <li class="transition-colors hover:!text-gray-600">UX & UI design</li>
          </ul>
        </section>
        <section class="mb-8 basis-1/3">
          <header class="mb-4">Database and APIs</header>
          <ul class="comma-list">
            <li class="transition-colors hover:!text-gray-600">GraphQL</li>
            <li class="transition-colors hover:!text-gray-600">Neo4J</li>
            <li class="transition-colors hover:!text-gray-600">MongoDB</li>
            <li class="transition-colors hover:!text-gray-600">Firebase</li>
            <li class="transition-colors hover:!text-gray-600">T-SQL</li>
            <li class="transition-colors hover:!text-gray-600">MySQL</li>
            <li class="transition-colors hover:!text-gray-600">SQLite</li>
            <li class="transition-colors hover:!text-gray-600">Postman</li>
            <li class="transition-colors hover:!text-gray-600">SQL Server</li>
            <li class="transition-colors hover:!text-gray-600">Json Server</li>
          </ul>
        </section>
        <section class="mb-8 basis-1/3 pr-16">
          <header class="mb-4">Testing</header>
          <ul class="comma-list">
            <li class="transition-colors hover:!text-gray-600">E2E client-side testing</li>
            <li class="transition-colors hover:!text-gray-600">Unit testing using Protractor</li>
            <li class="transition-colors hover:!text-gray-600">Support legacy browser technology and testing with Browser Stack</li>
          </ul>
        </section>
      </div>
    </section>

    <section class="mb-8">
      <header class="mb-4">
        <h2 class="mb-4 text-4xl">Education</h2>
      </header>
      <ul>
        <li class="transition-colors hover:!text-gray-600">Internet Application Developer Diploma From NBCC</li>
        <li class="transition-colors hover:!text-gray-600">NBCC - Dean's List (2008 Computer Programmer Jr, 2009 Computer Programmer Sr)</li>
        <li class="transition-colors hover:!text-gray-600">Meta Front-End Developer - Coursera by Meta (Facebook)</li>
        <li class="transition-colors hover:!text-gray-600">Foundations of User Experience (UX) Design - Coursera by Google</li>
        <li class="transition-colors hover:!text-gray-600">Introduction to Project Management (PM101) - Missing Link Technologies Ltd.</li>
      </ul>
    </section>
  </div>
</article>
