{
  "bracketSameLine": true,
  "printWidth": 160,
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity":"ignore",
  "semi": true,
  "bracketSpacing": true,
  "plugins": ["prettier-plugin-tailwindcss"]
}
