<a routerLink="/" class="inline-flex items-center text-center font-mono">
  @if (size === "") {
    <div class="mr-2 flex h-10 w-10 items-center justify-center bg-black px-1 text-2xl text-white">JC</div>

    <span class="flex flex-row text-black">
      <span class="opacity-70">jessy</span>
      <span class="opacity-40">.</span>
      <span class="opacity-70">co</span>
    </span>
  } @else if (size === "sm") {
    <div class="mr-2 flex h-6 w-6 items-center justify-center bg-black px-1 text-white">JC</div>

    <span class="group flex flex-row text-sm text-black">
      <span class="opacity-70">jessy</span>
      <span class="opacity-40">.</span>
      <span class="opacity-70">co</span>
    </span>
  }
</a>
