<a routerLink="/" class="flex items-center text-center align-middle font-mono">
  @if (size === "") {
    <div class="mr-4 flex h-12 w-12 items-center justify-center bg-black px-1 text-3xl text-white">JC</div>

    <span class="flex flex-row text-2xl text-black dark:text-white">
      <span class="opacity-70">jessy</span>
      <span class="opacity-40">.</span>
      <span class="opacity-70">co</span>
    </span>
  } @else if (size === "sm") {
    <div class="mr-2 flex h-6 w-6 items-center justify-center bg-black px-1 text-white">JC</div>

    <span class="group flex flex-row text-sm text-black dark:text-white">
      <span class="opacity-70">jessy</span>
      <span class="opacity-40">.</span>
      <span class="opacity-70">co</span>
    </span>
  }
</a>
