<article class="prose-xl min-w-full">
  <h1>Hello</h1>
  <p>
    I'm in the process of re-writing this website. So
    <span class="animate-pulse">don't panic!</span>
    I'll have things up and running again soon so Thanks for visiting.
  </p>
  <p>
    Most likely, some URLS will have changed however since I'm planning on having a section for blog posts and articles instead of grouping everything together.
    (no need to have all my random ranting fill up the site content.)
  </p>
</article>

<section>
  <header class="prose-xl mb-12 min-w-full">
    <h2>Latest</h2>
  </header>

  @defer {
    @for (item of latestItems; track $index) {
      <app-content-list-item [item]="item"></app-content-list-item>
    }
  } @placeholder (minimum 0ms) {
    <app-content-list-item [state]="ComponentState.Loading"></app-content-list-item>
    <app-content-list-item [state]="ComponentState.Loading" class="opacity-70"></app-content-list-item>
    <app-content-list-item [state]="ComponentState.Loading" class="opacity-40"></app-content-list-item>
    <app-content-list-item [state]="ComponentState.Loading" class="opacity-10"></app-content-list-item>
  }
</section>
