<article class="prose-xl min-w-full">
  <h1>Hello</h1>
  <p>
    I'm in the process of re-writing this website. So
    <span class="animate-pulse">don't panic!</span>
    I'll have things up and running again soon so Thanks for visiting.
  </p>
  <p>
    Most likely, some URLS will have changed however since I'm planning on having a section for blog posts and articles instead of grouping everything together.
    (no need to have all my random ranting fill up the site content.)
  </p>
</article>

<div class="prose-xl min-w-full mb-12">
  <h2>Latest Thing</h2>
</div>
<div class="mb-6 flex flex-row gap-1.5 border p-0">
  <div class="text-vertical -mt-1 -mb-1 -ml-0.5">
    <span class="bg-black px-2 font-mono text-white uppercase">{{ latest.id }}</span>
  </div>

  <div
    class="group flex w-full cursor-pointer flex-row items-center justify-between hover:animate-pulse"
    [routerLink]="'/' + latest.category + '/' + latest.path">
    <h3 class="line-clamp-2 uppercase">{{ latest.title }}</h3>
    <span class="pr-8 font-mono text-3xl transition-all group-hover:pr-2">&rarr;</span>
  </div>
</div>
