<a
  href="/"
  class="fixed bottom-8 left-8 bg-black text-white p-2 rounded-full hover:bg-gray-800 transition-all duration-1000 hover:rotate-[360deg] flex items-center justify-center w-12 h-12 group"
  title="Go back to home page"
>
  <!-- Arrow Icon -->
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-6 w-6 absolute transition-all duration-500 ease-in-out opacity-100 scale-100 group-hover:opacity-0 group-hover:scale-0"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M10 19l-7-7m0 0l7-7m-7 7h18"
    />
  </svg>

  <!-- House Icon (Now Filled Correctly) -->
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-6 w-6 absolute transition-all duration-200 ease-in-out opacity-0 scale-0 group-hover:opacity-100 group-hover:scale-100"
    fill="currentColor"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path d="M3 10l9-7 9 7v10h-6v-6h-6v6H3V10z" />
  </svg>
</a>
