<ng-template #linkContent>
  <ng-content></ng-content>
</ng-template>

<ng-template #activeLink>
  <span class="indicator animate-text-pulse" aria-hidden="true">&#95;</span>
</ng-template>
@if (routerLink !== null && routerLink !== undefined) {
  <a [routerLink]="routerLink" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <ng-container *ngTemplateOutlet="activeLink"></ng-container>
    <ng-container *ngTemplateOutlet="linkContent"></ng-container>
  </a>
} @else if (href !== null && href !== "" && href !== undefined) {
  <a [attr.href]="href" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <ng-container *ngTemplateOutlet="activeLink"></ng-container>
    <ng-container *ngTemplateOutlet="linkContent"></ng-container>
  </a>
} @else {
  <!-- No Link Data -->
  <span class="btn-link">
    <ng-container *ngTemplateOutlet="linkContent"></ng-container>
  </span>
}
