app-link {
  /* For accessability */
  display: inline-block;
  min-width: 24px;
  min-height: 24px;
  pointer-events: none;
}

app-link a {
  @apply pointer-events-auto relative mx-0.5 -mr-2.5 inline-block -translate-x-1.5 transform cursor-pointer pb-1 text-stone-700 !no-underline transition-all;
  @apply dark:text-stone-200;
}

app-link a:hover {
  @apply bg-gray-200;
  @apply dark:text-black;
}

app-link a::before {
  content: "[";
}
app-link a::after {
  content: "]";
}

app-link a:hover::before {
  @apply animate-[var(--animate-text-blink)] pr-2 pl-0;
}

app-link a::before,
app-link a::after {
  @apply pr-1 pl-1 font-semibold transition-all;
}

app-link a:hover::after {
  @apply animate-[var(--animate-text-blink)] pr-0 pl-2;
}

/* Active Link Indicator */
app-link a span {
  @apply hidden;
}

app-link a.active span {
  @apply inline-block pr-1 text-stone-900 dark:text-stone-100;
}
