@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* This is to enable dark mode via css class */
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Fira Code";
  src:
    url("/assets/fonts/firacode/woff2/FiraCode-Regular.woff2") format("woff2"),
    url("/assets/fonts/firacode/ttf/FiraCode-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: "Fire Code", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  @keyframes text-blink {
    0%,
    100% {
      color: var(--color-black);
    }
    50% {
      color: var(--color-white);
    }
  }

  @keyframes text-pulse {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  --animate-text-blink: text-blink 1s infinite;
  --animate-text-pulse: text-pulse 1200ms cubic-bezier(0, 1.163, 0.106, 0.943) infinite;
}

@layer base {
  html {
    @apply min-h-full h-full;
    @apply antialiased;
  }

  body {
    @apply min-h-full h-full;
  }

  ::selection {
    background-color: var(--color-yellow-400);
  }

  p {
    @apply pb-8;
  }

  ul {
    list-style-position: outside;
    @apply pl-8;
  }
  ul li {
    list-style-type: "- ";
  }
  ol {
    list-style-position: inside;
  }
  ol li {
    list-style-type: decimal;
  }
}

@utility container {
  margin-inline: auto;
}

/* Typography plugin */
/* @utility prose {
  --tw-prose-body: var(--color-primary);
  --tw-prose-headings: var(--color-primary);
  --tw-prose-bold: var(--color-primary);
  --tw-prose-quote-borders: var(--color-slate-300);
  --tw-prose-quotes: var(--color-muted-foreground);
  --tw-prose-code: var(--color-primary);

  code {
    &::before,
    &::after {
      display : none ;
    }
    text-wrap : nowrap ;
  }

  blockquote {
    font-weight : 400 ;
  }
} */

@layer components {
  /* Link Component */
  .link {
    @apply p-0 text-white transition-all hover:bg-white hover:px-2 hover:text-black;
  }

  /* Comma List Component */
  .comma-list {
    @apply list-none;
  }

  .comma-list li {
    @apply inline-flex;
  }

  .comma-list li::after {
    content: ",\00A0";
    white-space: nowrap;
  }

  .comma-list li:last-child::after {
    content: "";
  }
}
/* Components */
@import "./link.css";
@import "./resume-word.css";
