<footer class="mt-8 border-t border-gray-300 pt-8 text-sm text-gray-600">
  <div class="flex justify-between">
    <div class="flex">
      <div class="mr-16">
        <strong class="mb-1">Site Links</strong>
        <div class="flex flex-col">
          @for (link of siteLinks; track link.routerLink) {
            <app-link [link]="link.routerLink">{{ link.text }}</app-link>
          }
        </div>
      </div>
    </div>
    <div>
      <strong class="mb-1">Socials</strong>
      <div class="flex flex-col">
        @for (link of socialLinks; track link.href) {
          <app-link [externalLink]="link.href">{{ link.text }}</app-link>
        }
      </div>
    </div>
  </div>
  <div class="my-4 text-center">&copy; 2025 Jessy.co. All rights reserved.</div>
</footer>
