<section class="overflow-hidden bg-gray-200 p-4 pt-12 pb-12 text-2xl">
  <div class="container mx-auto">
    <div class="flex content-center justify-start">
      <div class="flex flex-col justify-center text-center md:text-left">
        <p class="mb-8 text-4xl">Hi, I'm Jessy Cormier</p>

        <div class="m-auto md:hidden">
          <picture>
            <source srcset="assets/profile.webp" type="image/webp" />
            <source srcset="assets/profile.jpg" type="image/jpeg" />
            <img src="assets/profile.webp" alt="" class="max-h-[400px] max-w-[300px] object-cover" />
          </picture>
        </div>

        <p>
          Professionally I'm a
          <mark>Senior Front-End Developer</mark>
          based in Canada with a passion for
          <mark>development</mark>
          .
        </p>
        <div>
          I'm also
          <ngx-typed-writer [strings]="iAm" [typeSpeed]="100" [backSpeed]="60" [loop]="true"></ngx-typed-writer>
        </div>
      </div>
      <div class="ml-0 hidden md:ml-8 md:block">
        <picture>
          <source srcset="assets/profile.webp" type="image/webp" />
          <source srcset="assets/profile.jpg" type="image/jpeg" />
          <img src="assets/profile.webp" alt="" class="h-[400px] max-h-[400px] min-h-[400px] w-[300px] max-w-[300px] min-w-[300px] object-cover" />
        </picture>
      </div>
    </div>
  </div>
</section>

<section class="prose-xl my-12 min-w-full">
  <p>
    This section will be a work in progress, most likely for awhile. I do like a lot of different kinds of about pages and I'm not sure what I want here.
    Professional or personal, maybe a mix? Either way thank you for stopping by.
  </p>
</section>
