<section class="overflow-hidden bg-gray-200 p-4 pt-12 pb-12 text-2xl">
  <div class="container mx-auto">
    <div class="flex content-center justify-start">
      <div class="flex flex-col justify-center text-center md:text-left">
        <p class="mb-8 text-4xl">Hi, I'm Jessy Cormier</p>

        <div class="m-auto md:hidden">
          <picture>
            <source srcset="{{profileImage}}" type="image/png" />
            <img src="{{ profileImage }}" alt="" class="max-h-[400px] max-w-[300px] object-cover" />
          </picture>
        </div>

        <p>
          Professionally I'm a
          <mark>Senior Front-End Developer</mark>
          based in
          <mark class="bg-red-500 text-white">Canada</mark>
          with a passion for
          <mark>development</mark>
          .
        </p>
        <div>
          I'm also
          <ngx-typed-writer [strings]="iAm" [typeSpeed]="100" [backSpeed]="60" [loop]="true"></ngx-typed-writer>
        </div>
      </div>
      <div class="ml-0 hidden md:ml-8 md:block">
        <picture>
          <source srcset="{{profileImage}}" type="image/png" />
          <img src="{{ profileImage }}" alt="" class="h-[400px] max-h-[400px] min-h-[400px] w-[300px] max-w-[300px] min-w-[300px] object-cover" />
        </picture>
      </div>
    </div>
  </div>
</section>

<section class="prose-xl my-12 min-w-full">
  I'll include a few random embeds from different platforms. Think of it like the old school affiliate links on the bottom of Angelfire / Geocities pages but
  way more random in size and content... so really it's nothing like the affiliate links.
</section>

<div class="mt-12 flex flex-wrap items-center justify-center gap-12">
  <div>
    <a href="https://app.daily.dev/jessyco">
      <img src="https://api.daily.dev/devcards/v2/CtgeFke7NlVU0hBnKP3ND.png?type=wide&r=1ig" width="208" alt="jessy.co's Dev Card" />
    </a>
  </div>
  <div>
    Stack Overflow
    <a href="https://stackoverflow.com/users/396842/jessy">
      <img
        src="https://stackoverflow.com/users/flair/396842.png"
        width="208"
        height="58"
        alt="profile for Jessy at Stack Overflow, Q&amp;A for professional and enthusiast programmers"
        title="profile for Jessy at Stack Overflow, Q&amp;A for professional and enthusiast programmers" />
    </a>
  </div>
  <div>
    <a href="https://www.buymeacoffee.com/jessyco" target="_blank">
      <img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee" style="height: 60px !important; width: 217px !important" />
    </a>
  </div>
  <div>
    GitHub
    <iframe
      src="https://github.com/sponsors/jessycormier/button"
      title="Sponsor jessycormier"
      height="32"
      width="114"
      style="border: 0; border-radius: 6px"></iframe>
  </div>
</div>

