<header class="bg-black font-mono text-white">
  <div class="h-[1em]"></div>
  <div class="flex items-center justify-between gap-2">
    <div class="-mt-1 -mb-1 -ml-1 [writing-mode:sideways-lr;]">
      <span class="px-2 text-white uppercase">{{ id }}</span>
    </div>
    <div class="p-12">
      <h1 class="text-2xl">{{ title }}</h1>
    </div>
  </div>
  <div class="mr-2 text-right text-sm text-white/60">{{ date }}</div>
</header>

<div class="prose-xl my-20">
  <markdown [data]="markdown"></markdown>
</div>
