<header class="flex justify-between p-8 bg-black mb-8">
  <div>
    <h1 class="font-thin">Jessy Cormier</h1>
    <em class="font-thin ml-4">Senior Front-End Developer</em>
  </div>
  <div class="flex flex-col">
    <address>Memramcook, NB</address>
    <div>hello&#64;jessy.co</div>
    <a href="https://www.linkedin.com/in/jessyco">Linked In</a>
  </div>
</header>

<section>
  <h2>Summary</h2>
  <p class="pb-0">
    Front-End Developer with expertise in delivering high-quality, scalable
    solutions using modern frameworks and best practices. Experienced in leading
    teams, optimizing DevOps workflows, and implementing efficient design
    systems for enhanced user experience. Skills in cross- functional
    collaboration and committed to continuous learning in front-end
    technologies.
  </p>
</section>

<section class="pb-8">
  <header>
    <h2>Professional Experience</h2>
  </header>

  <section>
    <header>
      <h6>Senior Front-End Developer</h6>
      <address>Thinkmax, Moncton, NB (Office, Remote)</address>
      <time>September 2022 to Present</time>
    </header>
    <ul>
      <li>
        Delivered customized front-end solutions for client projects, ensuring
        smooth adaption to evolving requirements and on-time delivery.
      </li>
      <li>
        Led design adjustments to align with customer needs, balancing tight
        timelines and incomplete specifications effectively.
      </li>
      <li>
        Mentored team members and management on front-end best practices,
        improving team efficiency and technical capabilities.
      </li>
      <li>
        Built a B2B solution for Royal Canadian Mint using <em>.Net MVC</em>,
        <em>Bootstrap</em> and <em>Optimizely CMS</em>.
      </li>
      <li>
        Documented front-end best practices, contributing to the organization's
        knowledge base to improve workflows.
      </li>
      <li>
        Developed effective methodologies for task breakdown and timeline
        accuracy, ensuring clear client communication and delivery.
      </li>
      <li>
        Responsible for delivering high-quality front-end solutions to our
        customer projects.
      </li>
      <li>
        Managed design and adjustments for customer projects, ensuring timely
        delivery despite often having incomplete or evolving requirements.
      </li>
      <li>
        Provided guidance and teaching opportunities to team members and
        management, enhancing the team's overall skill set and efficiency.
      </li>
      <li>
        Developed a B2B solution for Royal Canadian Mints using
        <em>Bootstrap</em>, <em>Optimizely</em>, <em>.Net</em>
      </li>
      <li>
        Utilized a variety of technologies and tools, including <em>.Net</em>,
        <em>Bootstrap</em>, and <em>Tailwind CSS</em>, in alignment with
        <em>Optimizely CMS</em> product specifications.
      </li>
      <li>
        Contributed to the knowledge base for best practices in front-end
        development, improving processes and workflows.
      </li>
      <li>
        Played a key role in developing methodologies for breaking down work to
        deliver accurate timelines for clients.
      </li>
    </ul>
  </section>

  <section>
    <header>
      <h6>Senior Front-End Developer</h6>
      <address>Aspen Group, Moncton, NB (Office, Remote)</address>
      <time datetime="2017-05">May 2017</time>
      <span>to</span>
      <time datetime="2022-08">August 2022</time>
    </header>
    <ul>
      <li>
        Built and launched a customer relationship management system (CRM) and a
        student application platform that supports older browser technology
        (<em>Internet Explorer 9</em>).
      </li>
      <li>
        Created an API library to communicate between internal products and 3rd
        party products.
      </li>
      <li>
        Developed stand-alone libraries and components that can be consumed by
        other developers via <em>NPM</em> / <em>NuGet</em> using the <em>Azure DevOps Artifacts</em>
        platform.
      </li>
      <li>
        Developed design system components using <em>Bootstrap</em>, <em>Tailwind CSS</em>, and
        <em>Storybooks</em>.
      </li>
      <li>Delivered low-fidelity designs using <em>Figma</em>, and <em>Adobe XD</em>.</li>
      <li>
        Responsible for managing project dependency, upgrades, and releases.
      </li>
      <li>
        Developed processes for our DevOps team for automation and deployments.
      </li>
      <li>
        Facilitated team collaboration, hosting scrum meetings, and mentoring
        developers.
      </li>
      <li>Onboarded new hires about our processes and technology.</li>
    </ul>
  </section>

  <section>
    <header>
      <h6>Web Developer</h6>
      <address>Ironflow Technologies, Dieppe, NB</address>
      <time datetime="2012-11">November 2012</time>
      <span>to</span>
      <time datetime="2017-04">April 2017</time>
    </header>
    <ul>
      <li>
        Create and maintain our products in <em>ASP .Net</em> MVC / WebForms in
        both <em>C#</em> and <em>VB</em>.
      </li>
      <li>
        Front-end development including building front-end design framework(s)
        for other developers and products, design UI and UX.
      </li>
      <li>Project research and planning.</li>
      <li>Database development and planning.</li>
      <li>Managing communication tools and provide education for the team.</li>
      <li>
        Working with customer service team to resolve products/client issues.
      </li>
    </ul>
  </section>

  <section>
    <header>
      <h6>Instructor at NBCC</h6>
      <address>Moncton NBCC, Moncton, NB</address>
      <time datetime="2013-12">December 2013</time>
      <span>to</span>
      <time datetime="2014-04">April 2014</time>
    </header>
    <ul>
      <li>
        Creating and Reviewing course curriculum for students in <em>PHP</em> & <em>MySQL</em>.
      </li>
      <li>
        Deliver course curriculum through Blackboard Learning Management System (LMS)
        and help them catch up on any missing lessons from other courses.
      </li>
      <li>
        Creating websites for clients, providing technical support and
        education.
      </li>
    </ul>
  </section>

  <section>
    <header>
      <h6>Web Developer</h6>
      <address>Atrinsic, Dieppe, NB</address>
      <time datetime="2009-05">May 2009</time>
      <span>to</span>
      <time datetime="2010-12">December 2010</time>
    </header>
    <ul>
      <li>
        Development on sites such as Kazaa (Python), corporate site, ez-tracks
        (<em>Cold Fusion</em>), ShopIt (<em>PHP</em>), Select Machinery INC (<em>ASP .Net</em>),
        BlueworldPools (<em>ASP .Net</em>).
      </li>
      <li>Team meetings to create site wireframe, database design.</li>
      <li>
        Development of sites, troubleshooting existing, enhancements and
        refactoring.
      </li>
      <li>Integrating into social media platforms and using 3rd party APIs.</li>
    </ul>
  </section>
</section>

<section class="pb-8">
  <header>
    <h2>Skills and Abilities</h2>
  </header>

  <div class="flex flex-wrap">
    <section class="basis-1/3 pr-16">
      <header>Frameworks and Technologies</header>
      <ul class="comma-list">
        <li>Angular (v4+)</li>
        <li>React</li>
        <li>NextJS</li>
        <li>SveltKit</li>
        <li>Astro</li>
        <li>Vue</li>
        <li>TypeScript</li>
        <li>JavaScript</li>
        <li>jQuery</li>
        <li>Node</li>
        <li>Deno</li>
        <li>Electron</li>
        <li>npm</li>
        <li>yarn</li>
        <li>pnpm</li>
        <li>webpack</li>
        <li>gulp</li>
        <li>grunt</li>
      </ul>
    </section>
    <section class="basis-1/3 pr-16">
      <header>Design and Development</header>
      <ul class="comma-list">
        <li>HTML</li>
        <li>Markdown</li>
        <li>Emmet</li>
        <li>CSS</li>
        <li>Less</li>
        <li>Sass</li>
        <li>Scss</li>
        <li>Tailwind</li>
        <li>Bootstrap</li>
        <li>Storybooks</li>
        <li>Figma</li>
        <li>Adobe XD</li>
        <li>Responsive design</li>
        <li>UX & UI design Tools</li>
      </ul>
    </section>
    <section class="basis-1/3">
      <header>Principles and Patterns</header>
      <ul class="comma-list">
        <li>SOLID</li>
        <li>KISS</li>
        <li>DRY</li>
        <li>Direct Injection</li>
        <li>Observer</li>
        <li>Singleton</li>
        <li>Revealing Module</li>
      </ul>
    </section>
    <section class="basis-1/3 pr-16">
      <header>Tools</header>
      <ul class="comma-list">
        <li>Visual Studio code</li>
        <li>Visual Studio</li>
        <li>Sublime</li>
        <li>Notepad++</li>
        <li>Beyond Compare</li>
        <li>Git</li>
        <li>SVN</li>
        <li>Git Kraken</li>
        <li>GitHub</li>
        <li>DevOps</li>
        <li>Jenkins</li>
        <li>Azure Pipelines</li>
        <li>Azure Artifacts</li>
      </ul>
    </section>
    <section class="basis-1/3 pr-16">
      <header>Design</header>
      <ul class="comma-list">
        <li>HTML</li>
        <li>Markdown</li>
        <li>Emmet</li>
        <li>CSS</li>
        <li>Less</li>
        <li>Sass</li>
        <li>Scss</li>
        <li>Tailwind</li>
        <li>Bootstrap</li>
        <li>Storybooks</li>
        <li>Figma</li>
        <li>Adobe XD</li>
        <li>Responsive design</li>
        <li>UX & UI design</li>
      </ul>
    </section>
    <section class="basis-1/3">
      <header>Database and APIs</header>
      <ul class="comma-list">
        <li>GraphQL</li>
        <li>Neo4J</li>
        <li>MongoDB</li>
        <li>Firebase</li>
        <li>T-SQL</li>
        <li>MySQL</li>
        <li>SQLite</li>
        <li>Postman</li>
        <li>SQL Server</li>
        <li>Json Server</li>
      </ul>
    </section>
    <section class="basis-1/3 pr-16">
      <header>Testing</header>
      <ul class="comma-list">
        <li>E2E client-side testing</li>
        <li>Unit testing using Protractor</li>
        <li>Support legacy browser technology and testing with Browser Stack</li>
      </ul>
    </section>
  </div>
</section>

<section>
  <header>
    <h2>Education</h2>
  </header>
  <ul>
    <li>Internet Application Developer Diploma From NBCC</li>
    <li>
      NBCC - Dean's List (2008 Computer Programmer Jr, 2009 Computer Programmer
      Sr)
    </li>
    <li>Meta Front-End Developer - Coursera by Meta (Facebook)</li>
    <li>Foundations of User Experience (UX) Design - Coursera by Google</li>
    <li>
      Introduction to Project Management (PM101) - Missing Link Technologies
      Ltd.
    </li>
  </ul>
</section>
