// Typography Imports
@import "firacode/distr/fira_code.css";

// Tailwind Preflight resets the base html to make everything common.
@tailwind base;

// We can override and set the base styles for the html here.
@layer base {
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-xl;
  }
  h6 {
    @apply text-lg;
  }
  a {
    @apply text-blue-600 border-dashed;
  }
  p {
    @apply pb-8;
  }

  ul {
    list-style-position: outside;
    @apply pl-8;

    li {
      list-style-type: "- ";
    }
  }
  ol {
    list-style-position: inside;
    li {
      list-style-type: decimal;
    }
  }
}

@tailwind components;
@tailwind utilities;
