<div
  [ngClass]="isShown ? 'opacity-100' : 'translate-x-full sm:translate-x-0 sm:-translate-y-full opacity-0'"
  class="fixed inset-0 z-10 transition-all duration-300"
  (click)="onClose($event)"
  (keydown.enter)="onClose($event)"
  tabindex="0">
  <div
    class="fixed inset-8 max-w-4xl overflow-hidden bg-white mx-auto"
    (click)="$event.stopPropagation()"
    (keydown.enter)="$event.stopPropagation()"
    tabindex="0">
    <div class="text-vertical absolute top-0 bottom-0 left-0 flex flex-row items-end justify-center">
      <div class="strip animate-bg grow">&nbsp;</div>
      <div class="px-4 text-center font-mono">Site Navigation</div>
    </div>
    <div class="mb-2 ml-12 px-2 py-2 text-right">
      <button (click)="onClose($event)" class="mt-0.5 cursor-pointer bg-black px-2 text-white">Close</button>
    </div>
    <div class="absolute inset-0 top-11 left-12 overflow-y-auto scroll-smooth border-t py-8">
      <div class="mr-6 flex flex-col gap-2">
        <header class="text-2xl">Main</header>
        <app-link routerLink="">Home</app-link>
        <app-link routerLink="resume">Resume</app-link>

        <div class="mt-4 text-2xl">Post Categories</div>
        @for (item of categories; track $index) {
          <div class="flex items-center">
            <app-link [routerLink]="item.path">{{ item.name }}</app-link>
            <span class="mx-2 mt-0.5 flex-1 border-b-2 border-dotted border-black"></span>
            <span class="mt-0.5">{{ item.count }}</span>
          </div>
        }
      </div>
    </div>
  </div>
</div>
