<div class="group relative overflow-hidden" [class.rounded-xl]="rounded">
  <div
    class="absolute inset-x-0 -bottom-2 z-50 flex items-end bg-gradient-to-t from-black/80 to-transparent pt-30 text-white transition duration-300 ease-in-out group-hover:opacity-100 motion-safe:opacity-0"
    [class.rounded-xl]="rounded">
    <div [class.hidden]="!showDetails">
      <div
        class="translate-y-4 transform-gpu space-y-3 p-4 pb-10 text-xl transition duration-300 ease-in-out group-hover:translate-y-0 group-hover:opacity-100">
        <div class="font-bold">{{ title }}</div>

        <div class="text-sm opacity-60">
          {{ text }}
        </div>
      </div>
    </div>
  </div>
  <ng-content />
</div>
